.asa-container10 {
  width: 100%;
  height: 893px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-container11 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.asa-container12 {
  width: auto;
  height: auto;
}
 
.asa-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.asa-image1 {
  width: auto;
  height: 100%;
}
 
.asa-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-container-elm10 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-heading4-elm1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-text-elm1 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.asa-container16 {
  width: auto;
  height: auto;
}
 
.asa-container17 {
  flex: 0 0 auto;
  width: auto;
  height: 314px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.asa-image2 {
  width: auto;
  height: 100%;
}
 
.asa-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-container-elm11 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-heading4-elm2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-text-elm2 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.asa-thq-container-elm12 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-container20 {
  width: auto;
  height: auto;
}
 
.asa-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.asa-image3 {
  width: auto;
  height: 314px;
}
 
.asa-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-container-elm13 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-heading4-elm3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-text-elm3 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.asa-thq-container-elm14 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-container23 {
  width: auto;
  height: auto;
}
 
.asa-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.asa-image4 {
  width: auto;
  height: 100%;
}
 
.asa-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-container-elm15 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-heading4-elm4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-text-elm4 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.asa-thq-container-elm16 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-container27 {
  width: auto;
  height: auto;
}
 
.asa-container28 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.asa-image5 {
  width: auto;
  height: 100%;
}
 
.asa-container29 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-container-elm17 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-heading4-elm5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-text-elm5 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.asa-thq-container-elm18 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-container31 {
  width: auto;
  height: auto;
}
 
.asa-container32 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.asa-image6 {
  width: auto;
  height: 315px;
}
 
.asa-container33 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-container34 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-container-elm19 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-heading4-elm6 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.asa-thq-text-elm6 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.asa-thq-container-elm20 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 

