.component-container10 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 
.component-container11 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.component-container12 {
  width: auto;
  height: auto;
  display: flex;
  padding: 0px;
}
 
.component-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-image1 {
  width: auto;
  height: 100%;
}
 
.component-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-container-elm10 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-heading4-elm1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
}
 
.component-thq-text-elm10 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-thq-container-elm11 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm11 {
  color: rgba(115, 115, 115, 1);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-container16 {
  width: auto;
  height: auto;
}
 
.component-container17 {
  flex: 0 0 auto;
  width: 306px;
  height: 314px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-image2 {
  width: auto;
  height: 100%;
}
 
.component-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-container-elm12 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-heading4-elm2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm12 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-thq-container-elm13 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm13 {
  color: rgba(115, 115, 115, 1);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-container20 {
  width: auto;
  height: 100%;
}
 
.component-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-image3 {
  width: auto;
  height: 100%;
}
 
.component-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-container-elm14 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-heading4-elm3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm14 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-thq-container-elm15 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm15 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-container23 {
  width: auto;
  height: auto;
}
 
.component-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-image4 {
  width: auto;
  height: 100%;
}
 
.component-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-container-elm16 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-heading4-elm4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm16 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-thq-container-elm17 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm17 {
  color: rgba(115, 115, 115, 1);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-container27 {
  width: auto;
  height: auto;
}
 
.component-container28 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-image5 {
  width: auto;
  height: 100%;
}
 
.component-container29 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-container-elm18 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-heading4-elm5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm18 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-thq-container-elm19 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm19 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-container31 {
  width: auto;
  height: auto;
}
 
.component-container32 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-image6 {
  width: 537px;
  height: 315px;
}
 
.component-container33 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-container34 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-container-elm20 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-heading4-elm6 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm20 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-thq-container-elm21 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm21 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-container35 {
  width: auto;
  height: auto;
}
 
.component-container36 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-image7 {
  width: auto;
  height: 100%;
}
 
.component-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-container-elm22 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-heading4-elm7 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm22 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-thq-container-elm23 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm23 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-container39 {
  width: auto;
  height: auto;
}
 
.component-container40 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component-thq-image-elm {
  width: auto;
  height: 100%;
}
 
.component-container41 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-container42 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-container-elm24 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-heading4-elm8 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm24 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component-thq-container-elm25 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component-thq-text-elm25 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 

 
@media(max-width: 479px) {
  .component-container10 {
    width: 479px;
    height: auto;
    margin-right: 0px;
  }
  .componentroot-class-name {
    width: 100%;
  }
}
