.component1q-container10 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-container11 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.component1q-container12 {
  width: auto;
  height: auto;
}
 
.component1q-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component1q-image1 {
  width: auto;
  height: 100%;
}
 
.component1q-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-container-elm10 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-heading4-elm1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm10 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-thq-container-elm11 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm11 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-container16 {
  width: auto;
  height: auto;
}
 
.component1q-container17 {
  flex: 0 0 auto;
  width: 306px;
  height: 314px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component1q-image2 {
  width: auto;
  height: 100%;
}
 
.component1q-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-container-elm12 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-heading4-elm2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm12 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-thq-container-elm13 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm13 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-container20 {
  width: auto;
  height: auto;
}
 
.component1q-container21 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component1q-image3 {
  width: auto;
  height: 314px;
}
 
.component1q-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-container-elm14 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-heading4-elm3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm14 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-thq-container-elm15 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm15 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-container23 {
  width: auto;
  height: auto;
}
 
.component1q-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component1q-image4 {
  width: auto;
  height: 100%;
}
 
.component1q-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-container-elm16 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-heading4-elm4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm16 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-thq-container-elm17 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm17 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-container27 {
  width: auto;
  height: auto;
}
 
.component1q-container28 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component1q-image5 {
  width: auto;
  height: 100%;
}
 
.component1q-container29 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-container-elm18 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-heading4-elm5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm18 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-thq-container-elm19 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm19 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-container31 {
  width: auto;
  height: auto;
}
 
.component1q-container32 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component1q-image6 {
  width: auto;
  height: 315px;
}
 
.component1q-container33 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-container34 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-container-elm20 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-heading4-elm6 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm20 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-thq-container-elm21 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm21 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-container35 {
  width: auto;
  height: auto;
}
 
.component1q-container36 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
 
.component1q-image7 {
  width: auto;
  height: 100%;
}
 
.component1q-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-container-elm22 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-heading4-elm7 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm22 {
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Space Grotesk";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.component1q-thq-container-elm23 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.component1q-thq-text-elm23 {
  color: rgb(115, 115, 115);
  width: 297px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 

